.onehaul-button {
    border-radius: 8px;
    box-shadow: none;
    width: fit-content;
    gap: 0;
    display: flex;
    align-items: center;
    gap: 4px;
}

.onehaul-button-sm {
    height: 28px;
    padding: 8px 16px;
}

.onehaul-button-md {
    height: 36px;
    padding: 8px 16px;
}

.onehaul-button-lg {
    height: 44px;
    padding: 8px 20px;
}

.onehaul-button.onehaul-button-link {
    padding: 4px;
    height: auto;
    border-radius: 4px;
}

.onehaul-button-primary:not(.onehaul-button-disabled) {
    &.onehaul-button-error {
        background-color: var(--theme-color-error-100);

        &:hover {
            background-color: var(--theme-color-error-120);
        }

        &:active {
            background-color: var(--theme-color-error-120);
        }
    }

    &.onehaul-button-success {
        background-color: var(--theme-color-success-100);

        &:hover {
            background-color: var(--theme-color-success-120);
        }

        &:active {
            background-color: var(--theme-color-success-120);
        }
    }
}

.onehaul-button-secondary:not(.onehaul-button-disabled) {
    &.onehaul-button-error {
        border-color: var(--theme-color-error-20);
        color: var(--theme-color-error-100) !important;

        .onehaul-button-text {
            color: var(--theme-color-error-100);
        }

        &:hover {
            background-color: var(--theme-color-error-20);
            border-color: transparent;
        }

        &:active {
            background-color: var(--theme-color-error-40);
            border-color: transparent;
        }
    }

    &.onehaul-button-success {
        border-color: var(--theme-color-success-20);
        color: var(--theme-color-success-100) !important;

        .onehaul-button-text {
            color: var(--theme-color-success-100);
        }

        &:hover {
            background-color: var(--theme-color-success-20);
            border-color: transparent;
        }

        &:active {
            background-color: var(--theme-color-success-40);
            border-color: transparent;
        }
    }
}

.onehaul-button-tertiary:not(.onehaul-button-disabled) {
    background-color: var(--theme-color-grey-2);

    &:hover {
        background-color: var(--theme-color-grey-5) !important;
    }

    &:active {
        background-color: var(--theme-color-grey-10) !important;
    }

    &.onehaul-button-error {
        border-color: transparent;
        background-color: var(--theme-color-error-20);
        color: var(--theme-color-error-100) !important;

        .onehaul-button-text {
            color: var(--theme-color-error-100);
        }

        &:hover {
            background-color: var(--theme-color-error-40) !important;
        }

        &:active {
            background-color: var(--theme-color-error-60) !important;
        }
    }

    &.onehaul-button-success {
        border-color: transparent;
        background-color: var(--theme-color-success-20);
        color: var(--theme-color-success-100) !important;

        .onehaul-button-text {
            color: var(--theme-color-success-100);
        }

        &:hover {
            background-color: var(--theme-color-success-40) !important;
        }

        &:active {
            background-color: var(--theme-color-success-60) !important;
        }
    }
}

.onehaul-button-link:not(.onehaul-button-disabled) {
    background-color: transparent;

    &:hover {
        background-color: var(--theme-color-grey-5) !important;
    }

    &:active {
        background-color: var(--theme-color-grey-10) !important;
    }

    &.onehaul-button-error {
        color: var(--theme-color-error-100) !important;

        .onehaul-button-text {
            color: var(--theme-color-error-100);
        }
    }

    &.onehaul-button-success {
        color: var(--theme-color-success-100) !important;

        .onehaul-button-text {
            color: var(--theme-color-success-100);
        }
    }
}

.onehaul-icon-button {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &.onehaul-button-sm {
        height: 28px;
        width: 28px;
    }

    &.onehaul-button-md {
        height: 36px;
        width: 36px;
    }

    &.onehaul-button-lg {
        height: 48px;
        width: 48px;
    }
}

.onehaul-button-text {
    line-height: unset !important;

    &.primary:not(.ant-typography-disabled) {
        color: var(--theme-color-pure-100);
    }

    &.link:not(.ant-typography-disabled) {
        color: var(--theme-color-primary-60);

        &:hover {
            text-decoration: none;
        }
    }
}
