.onehaul-pill {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: fit-content;
    margin-inline-end: 0;
}

.onehaul-pill-md {
    height: 32px;
    padding: 4px 12px;
}

.onehaul-pill-sm {
    height: 24px;
    padding: 4px 12px;
}

.onehaul-pill-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.onehaul-pill-line {
    background-color: var(--theme-color-pure-100);
}
